*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/assets/pp.txt
/app/src/main/assets/qr-brother.json
/app/src/main/assets/qr-read-brother.json
/app/src/main/assets/qr-read-responsible.json
/app/src/main/assets/qr-responsible.json
